@media screen and (max-width : 922px) {
    #gambar .art .card-title-first{
        font-size: 30px;
        padding-left: 100px;
    }

    #gambar .art .card-text-first{
        padding-left: 100px;
    }
}

@media screen and (max-width : 576px) {
    #gambar .art .card-title-first{
        font-size: 22px;
        padding-top: 0px;
        padding-left: 0px;
    }

    #gambar .art .card-text-first{
        padding-top: 2rem;
        padding-left: 0px;

    }

    #gambar .art .card-text-second{
        padding-top: 4rem;
        padding-left: 0px;
    }
    
    #why {
        padding: 20px 0;
    }

    #maps .map h2{
        padding: 20px 0;
    }

    #event .card .tanggal{
        flex: auto;
    }

    #event .hidden {
        display: none;
    }

    #event .show {
        display: contents;
    }

}

@media screen and (max-width : 350px) {
    
}





