:root {
    --pr-color: rgb(1, 1, 128);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

.navbar {
    z-index: 3;
    background-color: #fff;
}

/* Navbar Color */

.nav-color {
    background-color: var(--pr-color);
    transition: all ease-in-out 0.3s;
}

.bg-transparent {
    transition: all ease-in-out 0.3s;
}

* {
    z-index: 2;
}

.navbar-brand {
    font-weight: 700;
    font-size: 15px;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    font-size: 16px;
}

.nav-link.active {
    font-weight: 700;
    /* background-color: #fff; */
}

/* header */

#header .head {
    padding-left: 0px;
    padding-right: 0px;
}

.img-fluid {
    width: 100%;
    height: 100%;
}

/* #hero {
    background: linear-gradient(160deg, var(--pr-color), rgb(173, 36, 36));
} */

/* why us*/
#why {
    padding: 100px 0;
    z-index: 1;
}

h2 {
    font-size: 40px;
    font-weight: 500;
    color: #000
}

.card-why {
    width: 100%;
    height: 310px;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0, 05);

    transition: all .2s ease-in;
}

.circle-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;

    transition: all .1s ease-in;
}

.card-why h3 {
    color: #000;
    font-size: 24px;

    transition: all .2s ease-in;
}

.card-why p {
    color: #000;
    font-size: 14px;

    transition: all .3 ease-in;
}

/* Hover */

.card-why:hover {
    width: 100%;
    height: 310px;
    border-radius: 5px;
    background-color: grey;
    padding: 10px;
    background: linear-gradient(160deg, var(--pr-color), rgb(89, 83, 83));
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0, 05);

    transition: all .2s ease-in;
}

.card-why:hover .circle-icon {
    background-color: #fff;
    transition: all .2s ease-in;
}

.circle-icon:hover {
    width: 75px;
    height: 75px;
    background-color: #fff;
    border-radius: 100%;

    transition: all .2s ease-in;
}

.card-why:hover h3 {
    color: #fff;
    font-size: 24px;

    transition: all .2s ease-in;
}

.card-why:hover p {
    color: #fff;
    font-size: 14px;

    transition: all .2s ease-in;
}

/* Vision Mision */

#misi {
    background-size: cover;
    padding: 50px 0;
    z-index: 1;
}

.comp h3 {
    color: #fff;
    /* font-size: #fff; */
}

.comp p {
    color: #fff;
    /* font-size: ; */
}

.card-visi h4 {
    color: #fff;
}

.card-visi p {
    color: #fff;
}

/* Maps */
#maps .img-fluid {
    margin-top: -50px;
    z-index: 1;
}

#maps .map h2 {
    padding-top: 5rem;
    z-index: 1;
}

/* Images */
#gambar {
    padding: 0px 0;
    z-index: 1;
}

#gambar .art {
    padding-left: 0px;
    padding-right: 0px;
}

#gambar .art img {
    border-radius: 0px;
    display: block;
}

/* #gambar .art h5{
    font-size: 50px;
    padding-top: 100px;
} */

#gambar .art .card-title-first {
    font-size: 45px;
    padding-left: 100px;
    padding-top: 50px;
}

#gambar .art .card-text-first {
    padding-top: 15rem;
    /* margin-right: 20rem; */
    padding-left: 100px;
}

#gambar .art .card-text-second {
    padding-top: 7rem;
    /* margin-right: 20rem; */
    /* padding-left: 100px; */
}



/* .card-title-first{
    margin-bottom: 45.5rem;
} */

#event {
    padding: 100px;
    background: rgb(198, 225, 225);
}

#event h4 {
    font-size: 32px;
}

/* #galery {
    padding: 100px 0;
} */

/* #galery .container{
        position: relative;
        width: 320px;
        margin: 100px auto 0 auto;
        perspective: 1000px;
}

#galery .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
}

#galery .carousel__face{
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
}
  
  /* span {
    margin: auto;
    font-size: 2rem;
  } */


/* .carousel__face:nth-child(1) {
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    transform: rotateY( 80deg) translateZ(430px); }
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  } */

/* gallery2 */
#galery2 .swiper-container {
    width: 100%;
    margin: 25px 0;
    padding: 8em 0 8em;
}

#galery2 .swiper-slide {
    opacity: 0.4;
    overflow: hidden;
    transition: .7s;
}

#galery2 .swiper-slide img {
    width: 100%;
}

#galery2 .swiper-slide-active {
    opacity: 1;
    z-index: 1;
    transform: scale(2.0);
}

#galery2 .text-center {
    padding-top: 25px;
}

#galery2 .swiper-button-next:after {
    font-size: 75px;
    color: #fff;
}

#galery2 .swiper-button-prev::after {
    font-size: 75px;
    color: #fff;
}

/* footer */
#footer {
    padding: 100px 0;
    background-size: cover;
}

.foot h4 {
    color: #fff;
}

.foot p {
    color: #fff;
}

#kosong {
    padding: 50px 0;
}

#contact {
    background-size: cover;
    background-image: url("/web/assets/img/Header_page_contact_products-01.png");
    padding: 75px 0;
    z-index: 1;
}

#form-contact .card-header {
    text-align: right;
    border-bottom: none;
}

#title-product {
    background-size: cover;
    background-image: url("/web/assets/img/Header_page_contact_products-01.png");
    padding: 50px 0;
    z-index: 1;
}

#header-product .wyn {
    padding: 2.8rem 0px;
}

#header-product .title {
    padding: 5rem 3rem;
}

#header-energium .title {
    padding: 3.5rem 3rem;
}

#header-energium .wyn {
    padding: 0rem 0rem;
    height: auto;
}

#products .button-brochure {
    text-align: right;
    padding: 1.5rem 6.7rem;
}

#energium .button-brochure {
    text-align: right;
    padding: 1.5rem 7.2rem;
}

#title-article {
    padding: 5rem 3rem;
    background-image: url("/web/assets/img/header-wynacom-by.png");
    background-size: cover;
}

#data-article .data{
    padding-top: 8rem;
}

/* #data-article .loop {
    border-radius: 2px;
    border-bottom: 2.5px dashed #e5eced;
    position: relative;
    top: 50%;
    bottom: 0;
    display: flex;
} */

#data-article .loop hr{
    /* border-style: dotted; */
    /* border-radius: 2px; */
    border-bottom: dashed 2.5px #e5eced;
}
