:root {
    --pr-color: rgb(1, 1, 128);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

.navbar {
    z-index: 3;
    background-color: #fff;
}

/* Navbar Color */

.nav-color {
    background-color: white;
    transition: all ease-in-out 0.3s;
}

.bg-transparent {
    transition: all ease-in-out 0.3s;
}

* {
    z-index: 2;
}

.navbar-brand {
    font-weight: 700;
    font-size: 15px;
}

.navbar-nav {
    margin-left: auto;
}

#topheader .nav-link {
    font-size: 16px;
}

#topheader .nav-link.active {
    font-weight: 700;
    color: #000;
}

/* header */

#header .head {
    padding-left: 0px;
    padding-right: 0px;
}

.card .img-fluid {
    /* width: 100%; */
    height: 100%;
    width: 80%;
}

/* why us*/
#why {
    padding: 100px 0;
    z-index: 1;
}

h2 {
    font-size: 40px;
    font-weight: 500;
    color: #000
}

.card-why {
    width: 100%;
    height: 310px;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0, 05);

    transition: all .2s ease-in;
}

.circle-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;

    transition: all .1s ease-in;
}

.card-why h3 {
    color: #000;
    font-size: 24px;

    transition: all .2s ease-in;
}

.card-why p {
    color: #000;
    font-size: 14px;

    transition: all .3 ease-in;
}

/* Hover */

.card-why:hover {
    width: 100%;
    height: 310px;
    border-radius: 5px;
    background-color: grey;
    padding: 10px;
    background: linear-gradient(160deg, var(--pr-color), rgb(89, 83, 83));
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0, 05);

    transition: all .2s ease-in;
}

.card-why:hover .circle-icon {
    background-color: #fff;
    transition: all .2s ease-in;
}

.circle-icon:hover {
    width: 75px;
    height: 75px;
    background-color: #fff;
    border-radius: 100%;

    transition: all .2s ease-in;
}

.card-why:hover h3 {
    color: #fff;
    font-size: 24px;

    transition: all .2s ease-in;
}

.card-why:hover p {
    color: #fff;
    font-size: 14px;

    transition: all .2s ease-in;
}

/* Vision Mision */

#misi {
    background-size: cover;
    padding: 50px 0;
    z-index: 1;
}

.comp h3 {
    color: #fff;
}

.comp p {
    color: #fff;
}

.card-visi h4 {
    color: #fff;
}

.card-visi p {
    color: #fff;
}

/* Maps */
#maps .img-fluid {
    margin-top: -50px;
    z-index: 1;
}

#maps .map h2 {
    padding-top: 5rem;
    z-index: 1;
}

/* Images */
#articles {
    padding: 0px 0;
    z-index: 1;
}

#articles .art {
    padding-left: 0px;
    padding-right: 0px;
}

#articles .art img {
    border-radius: 0px;
    display: block;
}

#articles .art .card-img-overlay {
    background: linear-gradient(180deg, rgb(0 0 0 / 20%), #212529);
    opacity: 80%;
    border-radius: 0;
}

#articles .art .card {
    border: none;
}

#event .card {
    border: none;
}

#event .card .card-title {
    color: #000;
}

#event .card .card-title:hover {
    color: blue;
}

#event .card a {
    text-decoration: none;
}

#articles .art .card-title-first {
    font-size: 45px;
    padding-left: 100px;
    padding-top: 50px;
}

#articles .art .card-text-first {
    padding-top: 15rem;
    padding-left: 100px;
}

#articles .art .card-text-second {
    padding: 7rem 2rem;
}

#articles .art .link {
    padding: 7rem 2rem;
    color: white;
}

#articles .art a {
    text-decoration: none;
}

#event {
    padding: 100px;
    background: #edf2f2;
}

#event h4 {
    font-size: 32px;
}

/* gallery2 */
#galery2 .swiper-container {
    width: 100%;
    margin: 25px 0;
    padding: 8em 0 8em;
}

#galery2 .swiper-slide {
    opacity: 0.4;
    overflow: hidden;
    transition: .7s;
}

#galery2 .swiper-slide img {
    width: 100%;
}

#galery2 .swiper-slide-active {
    opacity: 1;
    z-index: 3;
    transform: scale(2.0);
}

#galery2 .text-center {
    padding-top: 25px;
}

#galery2 .swiper-button-next:after {
    font-size: 75px;
    color: #fff;
}

#galery2 .swiper-button-prev::after {
    font-size: 75px;
    color: #fff;
}

/* footer */
#footer {
    padding: 100px 0;
    background-size: cover;
}

.foot h4 {
    color: #fff;
}

.foot p {
    color: #fff;
}

#kosong {
    padding: 50px 0;
}

#contact {
    background-size: cover;
    background-image: url("/web/assets/img/Header_page_contact_products-01.png");
    padding: 75px 0;
    z-index: 1;
}

#form-contact .card-header {
    text-align: right;
    border-bottom: none;
}

#title-product {
    background-size: cover;
    background-image: url("/web/assets/img/Header_page_contact_products-01.png");
    padding: 50px 0;
    z-index: 1;
}

#header-product .wyn {
    padding: 2.8rem 0px;
}

#header-product .title {
    padding: 5rem 3rem;
}

#header-energium .title {
    padding: 3.5rem 3rem;
}

#header-energium .wyn {
    padding: 0rem 0rem;
    height: auto;
}

#products .button-brochure {
    text-align: right;
    padding: 1.5rem 6.7rem;
}

#energium .button-brochure {
    text-align: right;
    padding: 1.5rem 7.2rem;
}

#title-article {
    padding: 5rem 3rem;
    background-image: url("/web/assets/img/header-wynacom-by.png");
    background-size: cover;
}

#data-article .data {
    padding-top: 8rem;
}

#data-article .loop hr {
    border-bottom: dashed 2.5px #e5eced;
}

/* css untul all bersifat link */
a {
    color: white;
}

#event .card .tanggal {
    background-color: #3f7ea6;
    width: 5rem;
}

/* MAPS */
#maps2 {
    overflow: hidden;
    padding-bottom: 45%;
    position: relative;
    height: 0;
}

#event_image .img-fluid {
    max-width: 100%;
    height: auto;
    padding: 25px;
}

.navbar-dark .navbar-toggler {
    border-color: #4144df6d;
}

#event .show {
    display: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("/web/assets/img/toggler.png");
    ;
}
